<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style> 
    <link rel="stylesheet" href="style.css">
    <title>Card Pesan</title>
</head>

<body>
    <div class="cardpes">
    <div class="pesan">Cara Pemesanan</div>
    <div class="tes" id="content1">
        <img class="w-40 h-40 mx-auto mb-6" src="../../asset/Slime1.jpg">
        <h1 class="text-xl font-bold">Pesan</h1>
        <p>Login ke aplikasi Renfill, Pilih Produk produk yang ingin dipesan dan diisi ulang beserta rincianya. Lalu lakukan pemesanan dengan menentukan hari dan alamat pengantara.</p>
    </div>
    <div class="tes" id="content2">
        <img class="w-40 h-40 mx-auto mb-6" src="../../asset/Slime2.jpg">
        <h1 class="text-xl font-bold">Refill</h1>
        <p>Driver kami akan datang ke rumah anda, Siapkan botol untuk isi ulang dan lakukan isi ulang, Lalu tuntaskan pembayaran dan Transaksi pun selesai.</p>
    </div>
    <div class="tes" id="content3">
        <img class="w-40 h-40 mx-auto mb-6" src="../../asset/Slime3.jpg">
        <h1 class="text-xl font-bold">Ulangi</h1>
        <p>Lakukan hal tersebut secara berulang ulang, pesan, lalu lakukan refill, sehingga penggunaan plastik sekali pakai dapat ditekan, dan mengurangi jumlah sampah plastik</p>

    </div>
    </div>
</body>
</html>