<div class="p-20 bg-green-500">
    <a href="#" class="flex flex-col mx-auto items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl text-green-500 hover:bg-white hover:text-black">
        <img class="object-cover w-full h-full rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="../main/asset/rimuru.jpg" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal ">
            <h5 class="mb-2 text-2xl font-bold tracking-tight ">RENFILL</h5>
            <p class="font-bold">Download dan Pesan sekarang!</p>
            <br>
            <p class="font-normal text-justify">Nikmati isi ulang produk keperluan sehari sehari faforitmu langsung dari rumah tanpa ribet. Kami melayani semua pesanan untuk daerah Surabaya. Yang perlu anda lakukan, hanyalah memesan lewat aplikasi Renfill, lalu tunggu Driver Renfill akan datang ke rumah anda untuk melakukan isi ulang sesuai yang anda pesan</p>
            <br>
            <h5 class="mb-3 text-1xl font-normal tracking-tight ">Coming Soon...</h5> 
          
            <div class="flex-column">
              <img class="w-32 inline" src="../main/asset/donwloadappstore.png">
              <img class="w-44 inline" src="../main/asset/downloadgoogleplay.png">
            </div>
        </div>
    </a>
</div>