 <div class="cardpes grid h-[200vh] sm:h-[100vh] p-[8vh] rounded-[20px] m-[30px] gap-[15px] text-center
        shadow-[0_15px_25px_11px_rgba(0,0,0,0.1)]">
    <div class="pesan">Customer Kami</div>
    <div class="hover:animate-pulse card overflow-auto rounded-[17px] bg-[#fff] p-[3vh] sm:p-[10px] shadow-[0_15px_25px_11px_rgba(0,0,0,0.1)]"
        id="content1">
        <img class="w-40 h-40 mx-auto mb-6" src="Asset/Slime1.jpg">
        <h1 class="text-xl font-bold">Leluoch</h1>
        <p>...
        </p>
    </div>
    <div class="hover:animate-pulse card overflow-auto rounded-[17px] bg-[#fff] p-[3vh] sm:p-[10px] shadow-[0_15px_25px_11px_rgba(0,0,0,0.1)]" 
        id="content2">
        <img class="w-40 h-40 mx-auto mb-6" src="Asset/Slime2.jpg">
        <h1 class="text-xl font-bold">Gojo</h1>
        <p>...
        </p>
    </div>
    <div class="hover:animate-pulse card overflow-auto rounded-[17px] bg-[#fff] p-[3vh] sm:p-[10px] shadow-[0_15px_25px_11px_rgba(0,0,0,0.1)]"
        id="content3">
        <img class="w-40 h-40 mx-auto mb-6" src="Asset/Slime3.jpg">
        <h1 class="text-xl font-bold">Dazai</h1>
        <p>...
        </p>
    </div>
</div>
</div>