@media (max-width: 640px){
    .navigate.active{
        position: fixed;
        top: 0; left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: rgb(34 197 94);
        flex-direction: column;
    }
    /* active:fixed active:top-0 active:left-0 active:flex .navigate.active:bg-[rgb(34 197 94)] */

    .toggle{
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(image/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 10000;
    }
    .toggle.active{
        position: fixed;
        top: 32px;
        right: 25px;
        background: url(image/close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }
}